{% assign sorted_pages = site.pages | sort: "order" %}

<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand logo" src="{{ site.baseurl }}/images/logo.png"/>
      <p class="navbar-brand navbar-title">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {% for node in sorted_pages %}
        {% if page.url == node.url %}
          <li><a href="{{node.url}}" class="active">{{node.link_name}}</a></li>
        {% else %}
          <li><a href="{{node.url}}">{{node.link_name}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="logo"><img src="{{ site.baseurl }}/images/logo.png"/></li>
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <hr />
    {% for node in sorted_pages %}
      {% if page.url == node.url %}
        <li><a href="{{node.url}}" class="active">{{node.link_name}}</a></li>
      {% else %}
        <li><a href="{{node.url}}">{{node.link_name}}</a></li>
      {% endif %}
    {% endfor %}
    <hr />

  </ul>
</div>
